footer {
    position: absolute;
    background: white;
}
.main-row {
    padding: 10px;
}
.other-black-icon {
    color: gray;
}
.footer-plus {
    background: #37c72d;
    position: absolute;
    top: -21px;
    padding: 14px 19px;
    border-radius: 25px;
}
.footer-2 {
    padding: 0 !important;
}
